---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import AntiPatternSection from '../components/AntiPatternSection.astro';
import SyncSection from '../components/SyncSection.astro';
import PersonaSection from '../components/PersonaSection.astro';
import QuickstartSection from '../components/QuickstartSection.astro';
import ProductionSection from '../components/ProductionSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <AntiPatternSection />
    <SyncSection />
    <PersonaSection />
    <QuickstartSection />
    <ProductionSection />
  </main>
  <Footer />
</Layout>
